.ti-ActionInput {
    width: 100%;

    &-container {
        display: flex;
    }

    &-argument {
        padding-left: 10px;
        flex: 1 1 auto;

        input {
            width: 100%;
        }

        &--minor {
            flex: 0 1 auto;
            min-height: 35px;
        }
    }

    &-argument, &-selector {
        display: flex;
        align-items: center;
    }
}
