.ti-ActionInput {
    width: 100%;

    &-container {
        display: flex;
    }

    &-argument {
        padding-left: 10px;
        flex: 1 1 auto;

        input {
            width: 100%;
        }
    }

    &-argument, &-selector {
        display: flex;
    }

    button {
        margin-left: 15px;
    }
}
