$gray: #323538;
$light-gray: #dadee2;
$border-radius: 3px;

.ti-Block {
    @import "./components/ActionList";
    @import "./components/ActionInput";
    @import "./components/QueuedAction";

    .ti-Heading {
        margin: 0 0 5px;
    }

    h5.ti-Heading {
        margin-bottom: 10px;
        border-bottom: 3px solid rgba($light-gray, .5);
        padding-bottom: 7px;
    }

    .ti-SectionWrapper {
        & + .ti-SectionWrapper {
            margin-top: 25px;
        }
    }

    input, 
    select {
        border: 1px solid $light-gray !important;
        border-radius: $border-radius !important;
        margin: 0;
    }

    select {
        display: block;
    }

    input {
        padding-left: 10px !important;
        padding-right: 10px !important;

        &:disabled {
            background: $light-gray;
        }
    }

    button {
        display: flex;
        align-items: center;
        
        svg {
            margin-right: 5px;
        }
    }
}

.ti-GlobalSettings {
    &-checkboxControl {
        display: flex;
        align-items: center;

        span {
            transform: translateY(-3px);
        }
    }
}

.ti-HelperText {
    display: block;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 13px;
    margin-bottom: 15px;

    a {
        display: inline-block;
    }    
}
