$gray: #323538;
$light-gray: #dadee2;
$border-radius: 2px;
$white: #ffffff;

.ti-Block {
    @import "./components/ActionList";
    @import "./components/ActionInput";
    @import "./components/QueuedAction";
    @import "./components/Row";

    background: $white;
    padding: 15px 20px;
    border: 3px solid rgba($light-gray, .5);
    $inputHeight: 35px;

    .ti-Heading {
        margin: 0 0 .5em !important;
        letter-spacing: normal !important;
        text-transform: none !important;
    }

    h5.ti-Heading {
        margin-bottom: 1em !important;
        border-bottom: 3px solid rgba($light-gray, .5) !important;
        padding-bottom: 7px !important;
    }

    .ti-SectionWrapper {
        & + .ti-SectionWrapper {
            margin-top: 25px;
        }
    }

    input, 
    select {
        border-radius: $border-radius !important;
        margin: 0;
        min-height: $inputHeight;
    }

    select {
        display: block;
        padding-left: 5px;
        padding-right: 5px;
    }

    input {
        padding-left: 10px !important;
        padding-right: 10px !important;

        &:disabled {
            background: $light-gray;
        }
    }

    button {
        display: flex;
        align-items: center;
        font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
        
        svg {
            margin-right: 5px;
        }
    }
}

.ti-GlobalSettings {
    &-checkboxControl {
        display: flex;
        align-items: center;

        span {
            transform: translateY(-3px);
        }
    }
}

.ti-HelperText {
    display: block;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: .75em;
    margin-bottom: 15px;

    &--noMargin {
        margin-bottom: 0;
    }

    a {
        display: inline-block;
    }    
}
