$gray: #323538;
$light-gray: #dadee2;
$border-radius: 3px;

.ti-Block {
    @import "./components/ActionList";
    @import "./components/ActionInput";
    @import "./components/QueuedAction";

    .ti-Heading {
        margin: 0 0 5px;
    }

    h5.ti-Heading {
        margin-bottom: 10px;
        border-bottom: 3px solid rgba($light-gray, .5);
        padding-bottom: 7px;
    }

    .ti-SectionWrapper {
        & + .ti-SectionWrapper {
            margin-top: 25px;
        }
    }

    input, 
    select {
        border: 1px solid $light-gray !important;
        border-radius: $border-radius !important;
        margin: 0;
    }

    select {
        display: block;
    }

    input {
        padding-left: 10px !important;
        padding-right: 10px !important;

        &:disabled {
            background: $light-gray;
        }
    }

    button {
        display: flex;
        align-items: center;
        
        svg {
            margin-right: 5px;
        }
    }
}

.ti-GlobalSettings {
    input[name^="ti_setting"][type="checkbox"]:checked {
        &:before {
            content: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%23ffffff%27%2F%3E%3C%2Fsvg%3E);
        }
    }

    &-checkboxControl {
        display: flex;
        align-items: center;

        span {
            transform: translateY(-3px);
        }
    }
}

.ti-HelperText {
    display: block;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 13px;
    margin-bottom: 15px;

    a {
        display: inline-block;
    }    
}
